html,body{
    width: 100%;
    height: 100%;
}
#codelogin{
    width: 100%;
    height: 100%;
}
#top{height: 74px;background: #F2F2F2;}
.nav{
    height: 143px;
    background: #F2F2F2;
    padding:0 52px 0 38px;
    border-bottom:1px solid #DEDEDE;
}
.nav ul {
    width: 100%;
    height: 143px;
    font-size:48px;
    display:flex;
    
}
.nav li{
    flex:1;
    height: 143px;
    line-height: 143px;
}
.nav-r{text-align: right;}

.main{height: 100%;background: #F8F8F8;padding-top:50px;}
.m-title{height: 150px;line-height: 150px;font-size:60px;text-align: center;}
.phonewrap{background: #fff;width: 100%;height: 135px;border-bottom:3px solid #F8F8F8;color:#999}
.main label{display:inline-block;width: 250px;height: 135px;line-height: 135px;font-size:48px;text-align: center;vertical-align: top;}
.phonewrap span{display:inline-block;height: 100%;width: 770px;font-size:48px;color:#999999;vertical-align: top;margin-top:35px;}
.codewrap{background: #fff;width: 100%;height: 135px;border-bottom:3px solid #F8F8F8;}
.codewrap input{border:0;height: 100%;width: 770px;font-size:48px;vertical-align: top;}
#code{width: 485px;}
#code_btn{width: 276px;height: 76px;line-height: 76px;font-size:36px;margin-top:35px;border:2px solid #06BE04;color:#06BE04;border-radius: 5px;background: #fff;}
.pwdwrap{background: #fff;width: 100%;height: 135px;}
.pwdwrap input{border:0;height: 100%;width: 770px;font-size:48px;vertical-align: top;}
.confirm_btn{height: 137px;padding:0 42px;margin-top:60px;}
#confirm_btn{width: 100%;height: 100%;font-size:48px;background: #06BE04;color:#fff;border-radius: 10px;}
.back_btn{height: 137px;padding:0 42px;margin-top:60px;}
#back_btn{width: 100%;height: 100%;font-size:48px;border:3px solid #E5E5E5;background: #fff;color:#000;border-radius: 10px;}
.info{padding:0 42px;margin-top:60px;line-height: 60px;font-size:36px;color:#999999;}


.active{border-color:#ccc !important;color:#ccc !important}