html,body{
     width: 100%;
     height: 100%;
}
 #codelogin{
     width: 100%;
     height: 100%;
}
 #top{
     height: 0.6607142857142857rem;
     background: #F2F2F2;
}
 .nav{
     height: 1.2767857142857142rem;
     background: #F2F2F2;
     padding:0 0.4642857142857143rem 0 0.3392857142857143rem;
     border-bottom:0.008928571428571428rem solid #DEDEDE;
}
 .nav ul {
     width: 100%;
     height: 1.2767857142857142rem;
     font-size:0.42857142857142855rem;
     display:flex;
}
 .nav li{
     flex:1;
     height: 1.2767857142857142rem;
     line-height: 1.2767857142857142rem;
}
 .nav-r{
     text-align: right;
}
 .main{
     height: 100%;
     background: #F8F8F8;
     padding-top:0.7142857142857143rem;
}
 .person{
     height:5.044642857142857rem;
}
 .p-pic{
     width: 2.3660714285714284rem;
     height: 2.3660714285714284rem;
     border:0.044642857142857144rem solid #E2E3DE;
     border-radius: 50%;
     box-shadow: 0 0 0.044642857142857144rem 0 #E2E3DE;
     margin:0 auto;
     overflow:hidden;
}
 .p-name{
     width: 2.3660714285714284rem;
     margin:0.5178571428571429rem auto;
     text-align: center;
     font-size:0.42857142857142855rem;
}
 .phonewrap{
     background: #fff;
     width: 100%;
     height: 1.2053571428571428rem;
     border-bottom:0.026785714285714284rem solid #F8F8F8;
}
 .main label{
     display:inline-block;
     width: 2.232142857142857rem;
     height: 1.2053571428571428rem;
     line-height: 1.2053571428571428rem;
     font-size:0.42857142857142855rem;
     text-align: center;
     vertical-align: top;
}
 .phonewrap input{
     border:0;
     height: 100%;
     width: 6.875rem;
     font-size:0.42857142857142855rem;
     vertical-align: top 
}
 .pwdwrap{
     background: #fff;
     width: 100%;
     height: 1.2053571428571428rem;
}
 #code{
     width: 4.330357142857143rem;
}
 #code_btn{
     width: 2.4642857142857144rem;
     height: 0.6785714285714286rem;
     line-height: 0.6785714285714286rem;
     font-size:0.32142857142857145rem;
     margin-top:0.3125rem;
     border:0.017857142857142856rem solid #06BE04;
     color:#06BE04;
     border-radius: 0.044642857142857144rem;
     background: #fff;
}
 .pwdwrap input{
     border:0;
     height: 100%;
     width: 6.875rem;
     font-size:0.42857142857142855rem;
     vertical-align: top;
}
 .login_btn{
     height: 1.2232142857142858rem;
     padding:0 0.375rem;
     margin-top:0.5357142857142857rem;
}
 #login_btn{
     width: 100%;
     height: 100%;
     font-size:0.42857142857142855rem;
     background: #06BE04;
     color:#fff;
     border-radius: 0.08928571428571429rem;
}
 .codelogin{
     padding:0.5357142857142857rem 0.375rem;
     text-align: right;
}
 .codelogin a {
     color:#1C6DD8;
     font-size:0.42857142857142855rem;
}
 .active{
     border-color:#ccc !important;
     color:#ccc !important 
}
/*弹窗样式重置*/
html body .dialog-content *{
     font-size: 0.32142857142857145rem;
}
html body .dialog-content {
     background-color: rgba(0, 0, 0, .8);
     top:40%;
}
html body .dialog-overlay{
     background-color:rgba(0, 0, 0, 0);
}
html body .dialog-content-bd{
     color:#fff;
}
 @media screen and (min-width: 6.848214285714286rem) {
    html body .dialog-content {
         max-width: 40%;
    }
}
html body .dialog-content-title{
     font-size: 0.42857142857142855rem;
}
html body .dialog-content-ft{
     display:none;
     height:0.7142857142857143rem;
}
html body .dialog-btn{
     height:0.7142857142857143rem;
     line-height: 0.7142857142857143rem;
     color:#fff;
}
html body .dialog-btn-hl{
     color:#000;
}
 