html,body{
    width: 100%;
    height: 100%;
}
#codelogin{
    width: 100%;
    height: 100%;
}
#top{height: 74px;background: #F2F2F2;}
.nav{
    height: 143px;
    background: #F2F2F2;
    padding:0 52px 0 38px;
    border-bottom:1px solid #DEDEDE;
}
.nav ul {
    width: 100%;
    height: 143px;
    font-size:48px;
    display:flex;
    
}
.nav li{
    flex:1;
    height: 143px;
    line-height: 143px;
}
.nav-r{text-align: right;}

.main{height: 100%;background: #F8F8F8;padding-top:56px;}

.phonewrap{background: #fff;width: 100%;height: 135px;border-bottom:3px solid #F8F8F8}
.main label{display:inline-block;width: 250px;font-size:48px;height: 135px;line-height: 135px;text-align: center;vertical-align: top;}
.phonewrap input{border:0;height: 100%;width: 770px;font-size:48px;vertical-align: top;}
.pwdwrap{background: #fff;width: 100%;height: 135px;}
.pwdwrap input{border:0;height: 100%;width: 770px;font-size:48px;vertical-align: top}
.login_btn{height: 137px;padding:0 42px;margin-top:60px;}
#login_btn{width: 100%;height: 100%;font-size:48px;background: #06BE04;color:#fff;border-radius: 10px;}
.codelogin{padding:60px 42px;text-align: right;}
.codelogin a {color:#1C6DD8;font-size:48px;}


/*弹窗样式重置*/
.dialog-content  *{
    font-size: 36px !important;

}

.dialog-content {
      background-color: rgba(0, 0, 0, .8) !important;
      top:30% !important;
}

.dialog-overlay{
    background-color:rgba(0, 0, 0, 0) !important;
}

.dialog-content-bd{
    color:#fff !important;
}

@media screen and (min-width: 767px) {
    .dialog-content {
      max-width: 40% !important;
    }
}
.dialog-content-title{
    font-size: 48px !important;
}

.dialog-content-ft{
    display:none;
    height:80px !important;
}

.dialog-btn{
    height:80px !important;
    line-height: 80px !important;
    color:#fff !important;
}

.dialog-btn-hl{
    color:#000 !important;
}